html{
    background-color:skyblue;

}

h1{
    color:blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}



.main {
    display: -webkit-flex;
    display: flex;

}

.main div {
    background: #c71111;
    margin-right:10px;
}


.main {
    width: 500px;
    background: #EFEFEF;
    height: 500px;
    display: -webkit-flex;
    display: flex;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;

}    

.content {
    grid-column: 2;
}

@media screen and (max-width: 800px) {
    .formulario{
        position: relative;
        display: block;

    }
    form,.resultado{
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 2em auto 2em auto;

    }
    .enviar{
        width: 50%;
        font-size: 16px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 480px) {
    .enviar{
        font-size: 16px;
    }
    .imc{
        font-size: 3.5em;
    }
    .classificacao{
        font-size: 1.5em;
    }
    .risco{
        font-size: 0.8em;
    }
}

@media screen and (max-width: 380px) {

    .enviar{
        font-size: 14px;
    }
}